@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    font-family: 'Montserrat', sans-serif;
}

.title-section5 {
    padding-top: 100px;
    font-size: 48px;
    letter-spacing: -2px;
    line-height: 60px;
    color: #1b202a;
    font-weight: bold;
    width: 48%;
}

.min-title {
    font-size: 16px;
    line-height: 21px;
    color: #222222;
    font-weight: 800;
    margin-bottom: 40px;
    background: #edf0f2;
    width: 105px;
    text-align: center;
}

.mainhere {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.img-icon-section5 {
    position: absolute;
    align-self: flex-end;
    z-index: -1;
}

.first-block-section5 {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2.6 - 113px);
}

.about-section5 {
    font-size: 14px;
    line-height: 21px;
    color: #6b6f7a;
}

.allabout-section5 {
    margin-top: 79px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
}

.second-block-section5 {
    width: calc(100% / 1.5 - 113px);
}

.first-block-partners {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}

.second-block-partners {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}

.third-block-partners {
    display: flex;
    justify-content: space-between;
}

.partners {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.company {
    width: calc(100% / 5 -30px);
}

.main-about {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-weight: 800;
}

.block-awards {
    display: flex;
    justify-content: space-between;
    width: calc(100% / 3 - 50px);
}

.text-awards {
    display: flex;
    flex-direction: column;
}

.awards {
    display: flex;
    justify-content: space-between;
}

.all-block-awards {
    display: flex;
    flex-direction: column;
}

@media(max-width: 768px) {
    .container {
        padding-left: 76px;
        padding-right: 76px;
        max-width: 768px;
    }
    .title-section5 {
        padding-top: 50px;
        font-size: 30px;
        letter-spacing: -1px;
        line-height: 40px;
        color: #1b202a;
        font-weight: bold;
        width: 65%;
    }
    .all-sections-section5 {
        display: flex;
        flex-direction: column-reverse;
    }
    .all-block-awards {
        margin-top: 35px;
    }
    .block-awards {
        flex-direction: column;
    }
    .award {
        padding-bottom: 26px;
    }
    .allabout-section5 {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    .first-block-section5 {
        width: 58%;
    }
    .second-block-section5 {
        margin-top: 40px;
        width: 100%;
    }
    .allabout-section5 {
        margin-bottom: 0;
        padding-bottom: 50px;
    }
    .award2 {
        height: 40%;
        width: 35%;
        align-self: center;
    }
    .award1 {
        height: 33%;
        width: 55%;
        align-self: center;
    }
    .mainhere {
        font-size: 18px;
        line-height: 26px;
    }
    .main-about {
        margin: 0;
    }
    .block-awards {
        width: calc(100% / 3 - 20px);
        ;
    }
}