    @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
    body {
        overflow-x: hidden;
    }
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .container {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .whole-blocks-section3 {
        display: flex;
        justify-content: space-between;
    }
    
    .title1-section3 {
        font-size: 48px;
        letter-spacing: -2px;
        margin-top: 85px;
        font-weight: bold;
        margin-bottom: 77px;
        width: 65%;
    }
    
    .text-card-section3 {
        font-size: 18px;
        letter-spacing: -1px;
        font-weight: 800;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .number-card-section3 {
        font-size: 30px;
        letter-spacing: -1px;
        color: #00eaff;
        font-weight: 500;
    }
    
    .info-text-card-section3 {
        font-size: 14px;
    }
    
    .info-cards-section3 {
        display: flex;
        justify-content: space-between;
    }
    
    .info-card-section3 {
        display: flex;
        flex-direction: column;
        width: calc(100% / 3 - 40px);
        margin-bottom: 30px;
    }
    
    .block-card-section3 {
        width: calc(50%-50px);
        margin-right: 58px;
        margin-left: 58px;
        padding-top: 50px;
        margin-bottom: 60px;
    }
    
    .text-in-block-card-section3 {
        font-size: 14px;
        letter-spacing: -1px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .block-in-card-section3 {
        width: calc(100% / 2 - 40px);
        display: flex;
        flex-direction: column;
    }
    
    .infos-in-block-card-section3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .info-in-block-card-section3 {
        display: flex;
        flex-direction: column;
    }
    
    .info-text-in-block-card-section3 {
        font-size: 10px;
    }
    
    .number-in-block-card-section3 {
        font-size: 25px;
        letter-spacing: -1px;
        font-weight: 500;
        color: #00eaff
    }
    
    .with-map-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .img-section3 {
        /* position: absolute; */
        /* z-index: -1;  */
        width: calc(100% / 2 - 40px);
    }
    
    .right-info-section3 {
        width: calc(50%-50px);
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        justify-content: flex-end;
    }
    
    .list-element-section3 {
        display: flex;
        margin-top: 23px;
    }
    
    .pluses-section3 {
        display: flex;
        flex-direction: column;
    }
    
    .title2-section3 {
        font-size: 48px;
        letter-spacing: -2px;
        font-weight: bold;
    }
    
    .plus-section3 {
        margin-left: 28px;
    }
    
    .list-img-section3 {
        width: 100%;
        height: 100%;
    }
    
    .block-img-list {
        width: 12px;
        height: 12px;
        align-self: center;
    }